@font-face
{
    font-family: "JetBrains Mono";
    src: url(../src/font/JetBrainsMono[wght].ttf);
}

body
{
    background-color: var(--bg_h) !important;
    max-width: 100vw !important;
    overflow-x: hidden !important;
}

#main-content
{
    margin-left: 15px;
    margin-top: 15px;
    min-width: 90%;
    min-height: 90%;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
}

h1
{
    font-family: JetBrains Mono;
}

#name-container
{
    margin: 0;
    display: flex;
    grid-column: 1;
    grid-row: 1;
}

#name-cursor
{
    margin: 0;
}

#name
{
    margin: 0;
}

.flashing
{
    animation: flash 2s ease-in-out infinite;
}

@keyframes flash
{
    0% {opacity: 1.0}
    50% {opacity: 0.0}
    100% {opacity: 1.0}
}

.text-button
{
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: x-large;
    font-family: "JetBrains Mono";
    color: white;
    margin-left: 10px;
    transition: color 0.25s ease-in-out;
}

.text-button:hover
{
    color: var(--yellow);
}

#list
{
    display: inline-block;
    grid-column: 1;
    grid-row: 2;
}

.spinner {
    position: relative;
    width: 40px;
    height: 40px;
}

.cube1, .cube2 {
    background-color: var(--fg);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% {
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}