body {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    #content-wrapper
    {
        width: 100vw !important;
    }
}

#content-wrapper {
    display: flex;
    justify-content: center;
    width: 50vw;
}

#toggle-theme-button
{
    border-radius: 50px;
    background: var(--fg);
    border: none;
    height: 2.5rem;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

#toggle-theme-button:hover {
    cursor: pointer;
}

#toggle-theme-icon
{
    color: var(--bg_h);
    vertical-align: middle;
    font-size: 2rem;
}

#content-div
{
    width: 100%;
    padding: 15px;
}

#nickname-text, .section-button, .selected-section, .card-filename, .card-description, #main-text {
    font-family: fira,sans-serif;
}

#nickname-text, .section-button {
    color: var(--yellow);
}

#nickname-text, .section-button > h3, .selected-section {
    margin: 0;
}

.selected-section {
    color: var(--fg);
    margin-left: 15px;
    user-select: none;
}

.section-button {
    margin-left: 15px;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 2px;
}

.headline-text {
    font-family: fira,sans-serif;
    color: var(--fg);
}