@media(max-width: 500px)
{
    #list
    {
        visibility: collapse;
    }

    #name-container
    {
        visibility: collapse;
    }
    
    div:not(#name-container):not(#list)
    {
        grid-column: 1;
        grid-row: 1;
        width: 100vw;
        height: 100vh;
    }
}