#contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100dvw;
    background-color: var(--dark);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;

        #memo-container {
            p {
                color: var(--light);
            }

            p:first-of-type {
                font-size: 3rem;
                font-weight: 600;
            }   

            p:last-of-type {
                font-size: 1.5rem;
            }
        }

        #contact-list-container {
            display: flex;
            flex-direction: column;

            > div {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }

            a {
                color: var(--light);
                font-size: 2rem;
            }

            a#credit {
                text-decoration: var(--light) 2px dotted underline;
                font-size: 1.25rem;
                font-weight: 300;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #contact {
        > div {
            width: 100%;
            margin-left: 0;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            #memo-container {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                p:first-of-type {
                    font-size: 10vmin;
                }   
    
                p:last-of-type {
                    font-size: 4.5vmin;
                }
            }

            #contact-list-container {
                display: flex;
                flex-direction: column;
                
                > div {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                }

                img {
                    width: 48px;
                }
    
                a {
                    color: var(--light);
                    font-size: 6vmin;
                }
    
                a#credit {
                    text-decoration: var(--light) 2px dotted underline;
                    font-size: 4vmin;
                    font-weight: 300;
                    align-self: center;
                }
            }
        }
    }
}