#contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100dvw;
    background-color: var(--dark);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 50vh;

    > div {
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;

        #memo-container {
            p {
                color: var(--light);
            }

            p:first-of-type {
                font-size: 3rem;
                font-weight: 600;
            }   

            p:last-of-type {
                font-size: 1.5rem;
            }
        }

        #contact-list-container {
            display: flex;
            flex-direction: column;

            > div {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }

            a {
                color: var(--light);
                font-size: 2rem;
            }

            a#credit {
                text-decoration: var(--light) 2px dotted underline;
                font-size: 1.25rem;
                font-weight: 300;
            }
        }
    }
}