#login-dialog-container {
    #login-dialog-overlay {
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: all;
    }

    #login-image-container {
        &:not([class="switched"]) {
            display: none;
            pointer-events: none;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100dvw;
        height: 100dvh;
        z-index: 12;
        position: fixed;

        #login-image-content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            
            background-color: white;
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

            #close-button:hover {
                cursor: pointer;
            }

            #close-button {
                align-self: flex-end;
            }

            #login-image-error {
                color: brown;
                text-align: center;
            }

            #image-content {
                max-height: 80dvh;
                border-radius: 12px;
            }

            &[class="success"] {
                #login-image-error {
                    display: none;
                }
            }

            &[class="success"], &[class="fail"] {
                .loader {
                    display: none;
                }
            }

            &:not([class="success"]):not([class="fail"]) {
                #close-button, #login-image-error, #image-content {
                    display: none;
                }
            }
        }
    }

    #login-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100dvw;
        height: 100dvh;
        z-index: 12;
        position: fixed;

        &[class="switched"] {
            display: none;
            pointer-events: none;
        }

        form {
            background-color: white;
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

            display: flex;
            flex-direction: column;
            justify-content: start;
            min-width: 25vw;
            gap: 1rem;

            div {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
            }

            div#login-form-title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 1rem;

                img:hover {
                    cursor: pointer;
                }
            }

            div.form-checkbox {
                flex-direction: row;
                align-items: center;
                font-weight: 300;
                font-size: 1rem;
                gap: 0.5rem;
            }

            input {
                background-color: var(--light);
                border: 1px solid var(--dark);
                border-radius: 9999px;
                padding: 0.5rem;
                color: var(--dark);
                font-family: "Unbounded";
                font-weight: 300;
                width: auto;
            }

            input[type="checkbox"] {
                padding: 0;
                margin: 0;
                accent-color: var(--brand);
            }

            input:invalid,
            textarea:invalid {
                border: 1px solid brown;
            }

            div#regular-login {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }

            div>a {
                font-weight: 300;
                font-size: 0.8rem;
            }

            button.common-button {
                width: 100%;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                align-self: center;
            }

            div#sso-login {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                margin-top: 1rem;

                div:first-of-type {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                div:not(:first-of-type) {
                    display: flex;
                    flex-direction: row;
                }

                hr {
                    display: block;
                    height: 1px;
                    border: 0;
                    border-top: 1px solid #ccc;
                    padding: 0;
                    flex-grow: 1;
                }

                p {
                    font-weight: 300;
                    font-size: 0.9rem;
                }
            }
        }
    }

    &:not([class="opened"]) {
        #login-dialog-overlay, #login-form-container {
            display: none;
            pointer-events: none;
        }
    }
}

@media screen and (max-width: 768px) {
    #login-dialog-container {
        #login-form-container {
            form {
                min-width: 85vw;
            }
        }
    }

    #login-image-container {
        #image-content {
            max-height: unset;
            max-width: 80vw;
        }   
    }
}