html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #101010;
}

#section-container {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}