html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    color: var(--dark);
}

#section-container {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}

p, h1 {
    margin: 0;
}