#why-us {
    height: 100dvh;
    background-color: #101010;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 2rem;
    gap: 2rem;
}

#why-us-title {
    font-size: 3rem;
    font-weight: 500;
    text-decoration: wavy underline white 2px;
    color: white;
    margin: 0;
}

#why-us-grid {
    padding: 1rem;
    margin: 1rem;
    display: grid;
    width: 75%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 20px;
}

#why-us-grid div {
    border: 1px white solid;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    align-items: center;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

#why-us-grid div:hover {
    transform: scale(102.5%)
}

.reason-title {
    margin: 0;
    color: white;
    font-size: 2rem;
}

.reason-text {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}